* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}
h2 {
  margin-top: 50px;
  font-size: 42px;
  text-align: center;
  color: rgb(255, 255, 255);
}

main {
  width: 50%;
  height: 70vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  margin: 10px;
}

.from {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.to {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  margin-bottom: 20px;
  font-size: 32px;
}

input {
  width: 75%;
  padding: 10px;
  color: #ff6f47;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
}
select {
  margin-top: 10px;
  padding: 10px;
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 8rem;
  border: 1px solid white;
}

.select {
  margin: 2rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 8.5rem;
  right: 5.5rem;
  padding: 0.5rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
